<head>
  <video id="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop="true">
     <source src="http://mazwai.com/system/posts/videos/000/000/109/original/leif_eliasson--glaciartopp.mp4?1410742112" type="video/mp4">
     <source src="http://mazwai.com/system/posts/videos/000/000/109/original/leif_eliasson--glaciartopp.webm?1410742112" type="video/webm">
  </video>
</head>

  <body>
    <h2 id="tagline" class="text-branding text-jumbo text-contrast row-space-1">
      Brisk Lyfe
    </h2>
    <div id="welcome-line">
        <div class="row">
            <div class="columns small-4 "> Leading an active life, no matter where you are.</div>
        </div>
    </div>
    <!-- <a href="/info/how_it_works" class="btn hide-sm btn-contrast btn-large btn-semi-transparent js-show-how-it-works -->
  </body>





<center>
   <div class="form-group">
    <%= form_tag events_path, method: "get" do %>

      <%= label_tag :search, "Search", class: 'control-label' %>
      <%= text_field_tag :search,"", autofocus: true %>

      <%= label_tag :location, "Location", class: 'control-label' %>
      <%= text_field_tag :location %>

      <%= submit_tag "Make My Day", class: "myButton"  %>
    <% end %>
  </div>
</center>

<div class="discoveryContainer">
  <div class="dontstandthere"><img src="https://download.unsplash.com/photo-1416339276121-ba1dfa199912"width="720" height="720" alt="">
    </div>
      <div class="post-content">
        <h3 class="post-title">Live Life Outside</h3>
          <br>
          <br>
          <br>
            <p class="pg">“I wandered everywhere, through cities and countries wide. And everywhere I went, the world was on my side.”
            ― Roman Payne
         <br>
         <br>
         <br>
         “I was drinking in the surroundings: air so crisp you could snap it with your fingers and greens in every lush shade imaginable offset by autumnal flashes of red and yellow.”
            ― Wendy Delsol,
            <br>
            <br>
            <br>
            “You know it’s funny what’s happening to us.  Our lives have become digital.  Our friends now virtual, and everything you could ever want to know is only a click away.  Experiencing the world through endless second hand information is not enough.  If we want authenticity, we have to initiate it.” – Travis Rice
            </p>
        </div>
      </div>
</div>
