<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"type='text/javascript'></script>
<script src="assets/application.js" type='text/javascript'></script>

<body class="opc-body">
  <h2 id="tagline" class="text-branding text-jumbo text-contrast row-space-1 eventsIndex">
    Happenings
    <%= button_to "Home", root_path, class: "myButton2", method: :get  %>
  </h2>

  <div class="container-fluid">

     <div class="form-group2">
      <%= form_tag events_path, method: "get" do %>

        <%= label_tag :search, "Search", class: 'control-label' %>
        <%= text_field_tag :search,"", autofocus: true, placeholder: "type something..."  %>

        <%= label_tag :location, "Location", class: 'control-label' %>
        <%= text_field_tag :location, "", placeholder: "pick a place..." %>

        <%= submit_tag "Make My Day", class: "myButton"  %>
      <% end %>
    </div>

  <% if @events == "No events Found" %>
    <%= "No events Found" %>
  <% else %>

    <h3>Your search returned <%= @events.count %> results </h3>
    <hr>

    <% @events.each do |event| %>
      <% if event["title"] && event["description"].present? %>

       <div class="row">

          <div class="col-md-3 image-styling">
            <% if event["image"] && event["image"]["medium"]%>
              <a href="<%= event["url"] %>" target="_blank">
                <%=image_tag event["image"]["medium"]["url"] %>
              </a>
            <% end %>
          </div><!--end col-->

          <div class="col-md-9">
            <div class="resultsTitle">
             <h1> <%= event["title"] %> </h1>
             <% date = DateTime.parse(event["start_time"]) %>
             <% formatted_date = date.strftime("%A, %d %b %Y %l:%M %p") %>
             <h2> <%= formatted_date %> </h2>
            </div>

            <% if strip_tags(event["description"]) %>
              <div class="descriptionStyle more">
                 <%= strip_tags(event["description"]).gsub('&amp;', '&').gsub('&quot;', '"') %>
              </div>
            <% end %>
          </div><!--end col-->

        </div><!--end row-->

      <% end %> <!-- ends title and description present-->
    <% end %> <!--end of do loop -->
  <% end %><!-- end of if else -->
</div> <!-- end container-fluid -->

<% if @events == "No events Found" %>
 <% else %>
  <div style='width: 1080.99px; margin-left: auto; margin-right: auto;'>
    <div id="map" style='width: 1080.99px; height: 600px; border: 4px solid black;'></div>
  </div>
 <% end %>
</body>

    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    </script>

    <script>

    $(document).ready(function() {
           var showChar = 300;
           var ellipsestext = "...";
           var moretext = "more";
           var lesstext = "less";
           $('.more').each(function() {
                   var content = $(this).html();

                   if(content.length > showChar) {

                           var c = content.substr(0, showChar);
                           var h = content.substr(showChar-1, content.length - showChar);

                           var html = c + '<span class="moreelipses">'+ellipsestext+'</span>&nbsp;<span class="morecontent"><span>' + h + '</span> &nbsp;<a href="" class="morelink">'+moretext+'</a></span>';

                           $(this).html(html);
                   }

           });

           $(".morelink").click(function(){
                   if($(this).hasClass("less")) {
                           $(this).removeClass("less");
                           $(this).html(moretext);
                   } else {
                           $(this).addClass("less");
                           $(this).html(lesstext);
                   }
                   $(this).parent().prev().toggle();
                   $(this).prev().toggle();
                   return false;
           });
    });

    </script>
